# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.specstory/history/2026-09-09_13-13-57Z-changer-l-url-avec.md
.specstory/history/2026-09-09_13-59-09Z-ajouter-parametre-time-timeline.md
.specstory/history/2026-09-09_13-13-57Z-changer-l-url-avec.md
